shamefully-hoist=true

@fairfax:registry=https://pkgs.dev.azure.com/ntfairfaxdev/_packaging/ntfairfaxdev/npm/registry/
always-auth=true
//pkgs.dev.azure.com/ntfairfaxdev/_packaging/ntfairfaxdev/npm/registry/:username=lucas.franca
//pkgs.dev.azure.com/ntfairfaxdev/_packaging/ntfairfaxdev/npm/registry/:_password=bTVtYm1rcmVtYWxiZ3V6bHR4aHpjNmR1NDVhajNrYWhxZWFiZ3BleGJocXhpYjRwejJ5YQ==
//pkgs.dev.azure.com/ntfairfaxdev/_packaging/ntfairfaxdev/npm/registry/:email=lucas.franca@ntconsult.com.br


### get the token from https://dev.azure.com/ntfairfaxdev/_usersSettings/tokens set on password